.Rproj.user
.Rhistory
.RData
.Ruserdata
data/GAM_input/hour/Domestic_input_hour.csv
data/GAM_input/hourwday/Domestic_input_hourwday.csv
data/GAM_input/wday/Domestic_input_wday.csv
data/GAM_input/month/Domestic_input_month.csv
data/GAM_input/yday/Domestic_input_yday.csv
data/input_formatted