# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# produced target objects
_target/meta/*
_targets/objects/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*_cache/
